section.category
    div.category__banner.category__banner_ForMen
        div.category__img
            img( src="img/categoryForMen.png" alt="For Men" )
        div.category__badge.category__badge_ForMen
            h2 HOT DEAL
            h3 FOR MEN
    div.category__banner.category__banner_ForWoman
        div.category__img
            img( src="img/categoryWomen.png" alt="Woman" )
        div.category__badge.category__badge_ForWoman
            h2 30% OFFER
            h3 WOMAN
    div.category__banner.category__banner_Accesories
        div.category__img
            img( src="img/categoryAccesories.png" alt="Accesories" )
        div.category__badge.category__badge_Accesories
            h2 LUXIROUS & TRENDY
            h3 ACCESSORIES
    div.category__banner.category__banner_ForKids
        div.category__img
            img( src="img/categoryForKids.png" alt="For Kids" )
        div.category__badge.category__badge_ForKids
            h2 NEW ARRIVALS
            h3 FOR KIDS
