header
    a.logo( href="index.html" )
        img.logo__img( src="img/BranD_logo.png" alt="logoImage" )
        h1.logo__txt BRAN
            span.logo__txt_lastLetter d
    ul.upperGroup
        li.browseButton Browse
            span.fa.fa-caret-down
            ul.dropDown
                li.dropDown__category WOMEN
                    ul.dropDown__subCategory
                        li
                            a.dropDown__subCategoryRef( href="#" ) Dresses
                        li
                            a.dropDown__subCategoryRef( href="#" ) Tops
                        li
                            a.dropDown__subCategoryRef( href="#" ) Sweaters/Knits
                        li
                            a.dropDown__subCategoryRef( href="#" ) Jackets/Coats
                        li
                            a.dropDown__subCategoryRef( href="#" ) Blazers
                        li
                            a.dropDown__subCategoryRef( href="#" ) Denim
                        li
                            a.dropDown__subCategoryRef( href="#" ) Leggings/Pants
                        li
                            a.dropDown__subCategoryRef( href="#" ) Skirts/Shorts
                        li
                            a.dropDown__subCategoryRef( href="#" ) Accessories
                li.dropDown__category MAN
                    ul.dropDown__subCategory
                        li
                            a.dropDown__subCategoryRef( href="#" ) Tees/Tank tops
                        li
                            a.dropDown__subCategoryRef( href="#" ) Shirts/Polos
                        li
                            a.dropDown__subCategoryRef( href="#" ) Sweaters
                        li
                            a.dropDown__subCategoryRef( href="#" ) Sweatshirts/Hoodies
                        li
                            a.dropDown__subCategoryRef( href="#" ) Blazers
                        li
                            a.dropDown__subCategoryRef( href="#" ) Jackets/vests
        li.searchField
            form( action="#" name="search" )
                input( type="search" placeholder="Search for item..." )
                button( type="submit" )
                    img( src="img/search.png" alt="search" )
        li
             a.myAccountBtn( href="#" ) My Account
                span.fa.fa-caret-down
        li
            a.myCartBtn( href="shoppingCart.html" )
                img( src="img/cart.png" alt="My cart" )
