section.product
    h3.product__header.product__header_1 Fetured Items
    h4.product__header.product__header_2 Shop for items based on what we featured in this week
    div.productSet
        // Вставляем из main.js карточки товаров
    a.button.button_browseAll( href="##" )
        span.button__txt_browseAll Browse All Product
        span.fa.fa-long-arrow-right.button__txt_arrow