div.slider
    a( href="#" )
        img.slider__img( src="img/sliderImg.png" alt="slider image1" )
        div.slider__txt
            p.slider__txt1 THE BRAND
            p.slider__txt2 OF LUXERIOUS FASHION