section.socials
    p &copy; Brand All Rights Reserved
    ul
        li
            a(href="https://www.facebook.com" target="_blank")
                i.fa.fa-facebook(aria-hidden="true")
        li
            a(href="https://www.twitter.com" target="_blank")
                i.fa.fa-twitter(aria-hidden="true")
        li
            a(href="https://www.linkedin.com" target="_blank")
                i.fa.fa-linkedin(aria-hidden="true")
        li
            a(href="https://www.pinterest.com" target="_blank")
                i.fa.fa-pinterest-p(aria-hidden="true")
        li
            a(href="https://www.plus.google.com" target="_blank")
                i.fa.fa-google-plus(aria-hidden="true")