div.subscribe__slider
    img.subscribe__sliderImg( src="img/subscrSliderImg.png" alt="stuff face" )
    div.subscribe__sliderTxt
        h2.
            "Vestibulum quis porttitor dui! Quisque viverra nunc mi, 
            a pulvinar purus condimentum a. Aliquam condimentum mattis neque sed pretium"
        h3 Bin Burhan
        h4 Dhaka, Bd