doctype
html
    head
        title Shopping Cart
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        include ../pug_modules/links.jade
        script(src="js/cart.js" defer)
        
    body
        div.container.clearfix
            include ../pug_modules/header.jade
            include ../pug_modules/nav.jade
            include ../pug_modules/newArrivals.jade
            div.cartContent
            button#clearCart CLEAR SHOPPING CART
            a#continueShopping(href="index.html") CONTINUE SHOPPING
            form.checkOutForm(action="")
                div.checkOutForm__address
                    h2 SHIPPING ADDRESS
                    select(name="shippingCountry")
                        option Bangladesh
                        option Russia
                        option(selected) USA
                        option Australia
                        option Czech Respublic
                        option Germany
                    input(name="shippingState" type="text" placeholder="State")
                    input(name="shippingZip" type="text" placeholder="Postcode/Zip")
                    button(name="getAQuote") GET A QUOTE
                div.checkOutForm__discount
                    h2 COUPON DISCOUNT
                    h3 Enter you coupon code if you have one
                    input(name="couponCode" type="text" placeholder="Coupon code number")
                    button(name="applyCoupon") APPLY COUPON
                div.checkOutForm__proceed
                    h3 TOTAL
                        span#cartTotal $ ---
                    h2 GRAND TOTAL
                        span#grandTotal $ ---
                    hr
                    button.button(name="proceed") PROCEED TO CHECKOUT
            include ../pug_modules/subscribe.jade
            include ../pug_modules/footer.jade
            