doctype
html
    head
        title BranD main
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        include ../pug_modules/links.jade
        script( src="js/main.js" defer)
    body
        div.container.clearfix
            include ../pug_modules/header.jade
            include ../pug_modules/nav.jade
            include ../pug_modules/slider.jade
            include ../pug_modules/category.jade
            include ../pug_modules/product.jade
            include ../pug_modules/feature.jade
            include ../pug_modules/footer.jade
            