section.bottomMenu.clearfix
    div.bottomMenu__comment
        div.logo.logo_bottom
            img.logo__img( src="img/BranD_logo.png" alt="logoImage" )
            h1.logo__txt BRAN
                span.logo__txt_lastLetter d
        div.bottomMenu__text
            p.
                Objectively Objectively transition extensive data rather than cross functional
                solutions. Monotonectally syndicate multidisciplinary materials before
                go forward benefits. Intrinsicly syndicate an expanded array of
                processes and cross-unit partnerships. 
            p.
                Efficiently plagiarize 24/365 action items and focused infomediaries.
                Distinctively seize superior initiatives for wireless technologies.
                Dynamically optimize.
    
    nav.bottomMenu__nav
        div.bottomMenu__column
            h2 COMPANY
            ul
                li
                    a.bottomMenu__ref( href="##" ) Home
                li
                    a.bottomMenu__ref( href="##" ) Shop
                li
                    a.bottomMenu__ref( href="##" ) About
                li
                    a.bottomMenu__ref( href="##" ) How It Works
                li
                    a.bottomMenu__ref( href="##" ) Contact
        div.bottomMenu__column
            h2 INFORMATION
            ul
                li
                    a.bottomMenu__ref( href="##" ) Terms & Condition
                li
                    a.bottomMenu__ref( href="##" ) Privacy Policy
                li
                    a.bottomMenu__ref( href="##" ) How to Buy
                li
                    a.bottomMenu__ref( href="##" ) How to Sell
                li
                    a.bottomMenu__ref( href="##" ) Promotoin
        div.bottomMenu__column
            h2 SHOP CATEGORY
            ul
                li
                    a.bottomMenu__ref( href="##" ) Men
                li
                    a.bottomMenu__ref( href="##" ) Women
                li
                    a.bottomMenu__ref( href="##" ) Child
                li
                    a.bottomMenu__ref( href="##" ) Apparel
                li
                    a.bottomMenu__ref( href="##" ) Browse All