section.feature.clearfix
    a.feature__img( href="#" )
        img( src="img/featureImg.png" alt="feature image" )
    a.feature__badge( href="##" )
        h2.feature__badge_1 30% 
            span.feature__badge_red OFFER
        h3.feature__badge_2 FOR WOMEN
    ul
        li
            a.feature__item( href="###" )
                div.feature__itemPic
                    img( src="img/listImg_1.png" alt="Free Delivery" ) 
                ul.feature__itemDescr
                    li Free Delivery
                    li Worldwide el very on all. Authorit tively morph next-generation innovation with extensive models.
        li
            a.feature__item( href="###" )
                div.feature__itemPic
                    img( src="img/listImg_2.png" alt="Sales & discounts" ) 
                ul.feature__itemDescr
                    li Sales & discounts
                    li Worldwide el very on all. Authorit tively morph next-generation innovation with extensive models.
        li
            a.feature__item( href="###" )
                div.feature__itemPic
                    img( src="img/listImg_3.png" alt="Quality assurance" ) 
                ul.feature__itemDescr
                    li Quality assurance
                    li Worldwide delivery on all. Authorit tively morph next-generation innovation with extensive models.