header
    a.logo( href="index.php" )
        img.logo__img( src="img/BranD_logo.png" alt="logoImage" )
        h1.logo__txt BRAN
            span.logo__txt_lastLetter d
    ul.upperGroup
        li.browseButton Browse
            span.fa.fa-caret-down
            include ../my_php/headerNav.php
        li.searchField
            form( action="#" name="search" )
                input( type="search" placeholder="Search for item..." )
                button( type="submit" )
                    img( src="img/search.png" alt="search" )
        li
             a.myAccountBtn( href="#" ) My Account
                span.fa.fa-caret-down
        li
            a.myCartBtn( href="shoppingCart.php" )
                img( src="img/cart.png" alt="My cart" )
