nav.nav
    ul.nav__refSet
        li.nav__item
            a.nav__ref( href="index.html" ) HOME
        li.nav__item
            a.nav__ref( href="#" ) MAN
        li.nav__item
            a.nav__ref( href="#" ) WOMEN
        li.nav__item
            a.nav__ref( href="#" ) KIDS
        li.nav__item
            a.nav__ref( href="#" ) ACCESSORIES
        li.nav__item
            a.nav__ref( href="#" ) FEATURED
        li.nav__item
            a.nav__ref( href="#" ) HOT DEALS