section.product
    h3.product__header.product__header_1 Fetured Items
    h4.product__header.product__header_2 Shop for items based on what we featured in this week
    div.productSet
        div.productSet__banner
            a.productSet__ref( href="#" )
                div.productSet__imgWrap
                    img.productSet__img( src="img/prod_1.png" alt="product 1" )
                div.productSet__descrWrap
                    h3.productSet__descr.productSet__descr_default MANGO PEOPLE T-SHIRT
                    h3.productSet__descr.productSet__descr_red $52.00
            a.button.button_addToCart( href="##" )
                img.button__img_addToCart( src="img/toCart.png" alt="Add to cart" )
                span.button__txt_addToCart Add to Cart
        div.productSet__banner
            a.productSet__ref( href="#" )
                div.productSet__imgWrap
                    img.productSet__img( src="img/prod_2.png" alt="product 2" )
                div.productSet__descrWrap
                    h3.productSet__descr.productSet__descr_default MANGO PEOPLE T-SHIRT
                    h3.productSet__descr.productSet__descr_red $52.00
            a.button.button_addToCart( href="##" )
                img.button__img_addToCart( src="img/toCart.png" alt="Add to cart" )
                span.button__txt_addToCart Add to Cart
        div.productSet__banner
            a.productSet__ref( href="#" )
                div.productSet__imgWrap
                    img.productSet__img( src="img/prod_3.png" alt="product 3" )
                div.productSet__descrWrap
                    h3.productSet__descr.productSet__descr_default MANGO PEOPLE T-SHIRT
                    h3.productSet__descr.productSet__descr_red $52.00
            a.button.button_addToCart( href="##" )
                img.button__img_addToCart( src="img/toCart.png" alt="Add to cart" )
                span.button__txt_addToCart Add to Cart
        div.productSet__banner
            a.productSet__ref( href="#" )
                div.productSet__imgWrap
                    img.productSet__img( src="img/prod_4.png" alt="product 4" )
                div.productSet__descrWrap
                    h3.productSet__descr.productSet__descr_default MANGO PEOPLE T-SHIRT
                    h3.productSet__descr.productSet__descr_red $52.00
            a.button.button_addToCart( href="##" )
                img.button__img_addToCart( src="img/toCart.png" alt="Add to cart" )
                span.button__txt_addToCart Add to Cart
        div.productSet__banner
            a.productSet__ref( href="#" )
                div.productSet__imgWrap
                    img.productSet__img( src="img/prod_5.png" alt="product 5" )
                div.productSet__descrWrap
                    h3.productSet__descr.productSet__descr_default MANGO PEOPLE T-SHIRT
                    h3.productSet__descr.productSet__descr_red $52.00
            a.button.button_addToCart( href="##" )
                img.button__img_addToCart( src="img/toCart.png" alt="Add to cart" )
                span.button__txt_addToCart Add to Cart
        div.productSet__banner
            a.productSet__ref( href="#" )
                div.productSet__imgWrap
                    img.productSet__img( src="img/prod_6.png" alt="product 6" )
                div.productSet__descrWrap
                    h3.productSet__descr.productSet__descr_default MANGO PEOPLE T-SHIRT
                    h3.productSet__descr.productSet__descr_red $52.00
            a.button.button_addToCart( href="##" )
                img.button__img_addToCart( src="img/toCart.png" alt="Add to cart" )
                span.button__txt_addToCart Add to Cart
        div.productSet__banner
            a.productSet__ref( href="#" )
                div.productSet__imgWrap
                    img.productSet__img( src="img/prod_7.png" alt="product 7" )
                div.productSet__descrWrap
                    h3.productSet__descr.productSet__descr_default MANGO PEOPLE T-SHIRT
                    h3.productSet__descr.productSet__descr_red $52.00
            a.button.button_addToCart( href="##" )
                img.button__img_addToCart( src="img/toCart.png" alt="Add to cart" )
                span.button__txt_addToCart Add to Cart
        div.productSet__banner
            a.productSet__ref( href="#" )
                div.productSet__imgWrap
                    img.productSet__img( src="img/prod_8.png" alt="product 8" )
                div.productSet__descrWrap
                    h3.productSet__descr.productSet__descr_default MANGO PEOPLE T-SHIRT
                    h3.productSet__descr.productSet__descr_red $52.00
            a.button.button_addToCart( href="##" )
                img.button__img_addToCart( src="img/toCart.png" alt="Add to cart" )
                span.button__txt_addToCart Add to Cart
    a.button.button_browseAll( href="##" )
        span.button__txt_browseAll Browse All Product
        span.fa.fa-long-arrow-right.button__txt_arrow