div.subscribe__area
    //img.subscribe__bgImg.subscribe__bgImg_tail( src="img/subscribeBg.png" alt="subscribe background image" )
    div.subscribe__areaTxt
        p.subscribe__areaTxt1 SUBSCRIBE
        p.subscribe__areaTxt2 FOR OUR NEWLETTER AND PROMOTION
    form.subscribe__form( action="#" name="subscribeForm" )
        input( type="email" placeholder="Enter your e-mail" )
        button( type="submit" ) Subscribe